*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

body { color: green; }

.main_img {
	width: 100%;
	height: 100%;
}

.UEmblem_img {
	width: 10%;
	height: 10%;
}

.bottom_img {
	width: 100%;
	height: 100%;
}

.app1 {
	display: flex;
        flex-direction: column;
	justify-content: space-between;
}

.topline {
	display: flex;
	justify-content: space-between;
}

/*
.mid_layout {
	display: flex;
	justify-content: flex-end;
        align-content: stretch;
}
*/

/*
.mid_line {
	display: flex;
	justify-content: space-between;
}
*/

/*
.bot_line {
	display: flex;
	justify-content: space-between;
}
*/

.footnote {
	display: flex;
	justify-content: space-between;
}

.bottom_block {
	display: flex;
        flex-direction: column;
	justify-content: flex-start;
        align-items: center;

}
